<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ contenido.title }}</title>
</head>
<body>
	<h1>{{ contenido.title }}</h1>
	<img src="{{ contenido.thumbnailUrl }}"><br>

	{% if contenido.status != "PUBLISH" %}
		<p>ESTE LIBRO NO SE HA PUBLICADO</p>
	{% else %}
		<p>EL LIBRO ESTA PUBLICADO</p>
	{% endif %}
	<h2>Numero de paginas: {{ contenido.pageCount }}</h2>

	<h2>RESUMEN</h2>
	<a>{{ contenido.shortDescription }}</a><br>
	<h2>DESCRIPCION</h2>
	<a>{{ contenido.longDescription }}</a><br>

	<br>
	<h2>AUTORES</h2>
	<ul>
	{% for autores in contenido.authors -%}
	<li><a>{{ autores }}</a></li>
	{% endfor -%}
	</ul>

	<h2>CATEGORIAS</h2>
	<ul>
	{% for categoria in contenido.categories -%}
		<li><a href="/categorias/{{categoria}}">{{ categoria }}</a></li>
	{% endfor -%}
	</ul>
	
	<a href="/">Inicio</a>
</body>
</html>
